html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

section.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C0B0D;
    padding: 8px 96px;
    height: 44px;
    font-family: 'Roboto', sans-serif;
}

div.logo-narasi {
    display: grid;
    place-items: center;
}

div.right-header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 44px;
    gap: 16px;
}

div.search-bar {
    position: relative;
    background-color: white;
    height: 32px;
    border-radius: 0.25rem;
    width: 300px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

img.search-icon {
    position: absolute;
    margin-left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

div p.placeholder {
    color: #9E9E9E;
    font-size: 12px;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
}

div.login-btn {
    color: #FFE900;
    font-size: 12px;
    border: 2px solid #FFE900;
    padding: 8px 16px;
    border-radius: 0.25rem;
    cursor: pointer;
}

nav.navbar-section {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #4A25AA;
    padding: 0px 96px;
    height: 44px;
    font-family: 'Roboto', sans-serif;
    gap: 44px;
    color: #9F8CD0;
}

nav.navbar-section span {
    font-weight: 700;
}

section.banner-section {
    background-color: #0C0B0D;
}

section.banner-section img {
    width: 100%;
}

section.buka_mata-section {
    padding: 0px 96px;
    color: #FFE900;
    background-color: #0C0B0D;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    padding-bottom: 32px;
}

section.buka_mata-section p.judul-artikel {
    font-size: 32px;
    font-weight: 500;
    color: #FAFAFA;
    line-height: 48px;
}

section.buka_mata-section p.tanggal-artikel {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

section.buka_mata-section div.video-wrapper {
    display: flex;
    margin-top: 24px;
    gap: 16px;
}

section.buka_mata-section div.video-wrapper div.video-card {
    display: flex;
    flex-direction: column;
}

section.buka_mata-section div.video-wrapper div.video-card img {
    border-radius: 0.375rem;
}

section.buka_mata-section div.video-wrapper div.video-card span.author {
    font-weight: 500;
    font-size: 12px;
    color: #FFE900;
    margin-top: 12px;
}

section.buka_mata-section div.video-wrapper div.video-card p.judul-artikel {
    color: #FAFAFA;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

section.buka_mata-section div.video-wrapper div.video-card span.tanggal-video {
    font-size: 12px;
    color: #BDBDBD;
    margin-top: 4px;
}

section.artikel-section {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 48px 96px;
}

section.artikel-section div.see_all {
    color: #4A25AA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

section.artikel-section div.see_all span.title {
    font-weight: 700;
    font-size: 20px;
    border-left: 9px solid #FFE900;
    padding-left: 28px;
}

section.artikel-section div.see_all span.lihat_semua {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

section.artikel-section div.artikel-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

section.artikel-section div.artikel-wrapper div.artikel-thumbnail {
    position: relative;
}

section.artikel-section div.artikel-wrapper div.artikel-thumbnail div.text-overlay {
    position: absolute;
    bottom: 12px;
    width: 416px;
    height: 30%;
    left: 0;
    right: 0;
    text-align: start;
    color: white;
    background-color: rgba(12, 11, 13, 0.5);
}

section.artikel-section div.artikel-wrapper div.artikel-thumbnail div.text-overlay h2.author {
    color: #FFE900;
    font-size: 16px;
    margin-left: 24px;
    margin-top: 16px;
}

section.artikel-section div.artikel-wrapper div.artikel-thumbnail div.text-overlay p {
    margin-left: 24px;
    font-weight: 500;
    font-size: 20px;
    color: #F4F4F4;
    margin-top: 16px;
    margin-bottom: 16px;
}

section.artikel-section div.artikel-wrapper div.artikel-container {
    display: flex;
    flex-direction: column;
}

section.artikel-section div.artikel-wrapper div.artikel-container div.artikel {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 16px;
    margin-bottom: 8px;
}

section.artikel-section div.artikel-wrapper div.artikel-container div.artikel img {
    width: 100px;
}

section.artikel-section div.artikel-wrapper div.artikel-container div.artikel div.title-wrapper {
    display: flex;
    flex-direction: column;
}

section.artikel-section div.artikel-wrapper div.artikel-container div.artikel div.title-wrapper span.author {
    color: #4A25AA;
    font-size: 11px;
}

section.artikel-section div.artikel-wrapper div.artikel-container div.artikel div.title-wrapper span.title {
    color: #0C0B0D;
    font-size: 14px;
    line-height: 21px;
}

section.populer-section {
    padding: 0px 96px;
}

section.populer-section div.container {
    background-color: #DDDDDD;
    width: 100%;
    display: flex;
    padding: 24px 16px;
    gap: 24px;
}

section.populer-section div.container div.left-item {
    width: 50%;
    font-family: 'Roboto', sans-serif;
}

section.populer-section div.container div.left-item div.see_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A25AA;
    margin-bottom: 24px;
}

section.populer-section div.container div.left-item div.see_all span.lihat_semua {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

section.populer-section div.container div.left-item div.see_all span.title-video {
    font-weight: 700;
    font-size: 20px;
    border-left: 9px solid #FFE900;
    padding-left: 28px;
}

section.populer-section div.container div.left-item div.thumbnail {
    display: flex;
    gap: 16px;
}

section.populer-section div.container div.left-item div.thumbnail div.video-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.populer-section div.container div.left-item div.thumbnail div.video-title p.title {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    line-height: 21px;
}

section.populer-section div.container div.left-item div.thumbnail div.video-title p.sub-title {
    color: #717171;
    font-size: 12px;
    line-height: 18px;
}

section.populer-section div.container div.left-item div.list-video-wrapper {
    display: flex;
    width: 100%;
    margin-top: 24px;
    gap: 16px;
}

section.populer-section div.container div.left-item div.list-video-wrapper div.list-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

section.populer-section div.container div.left-item div.list-video-wrapper div.list-left div.item-left {
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #A4A4A4;
    padding-bottom: 16px;
    padding-top: 24px;
}

section.populer-section div.container div.left-item div.list-video-wrapper div.list-left div.item-left p.title {
    font-size: 14px;
    color: #000000;
}

section.pilihan-section {
    padding: 0px 96px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}

section.pilihan-section div.see_all {
    color: #4A25AA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

section.pilihan-section div.see_all span.title {
    font-weight: 700;
    font-size: 20px;
    border-left: 9px solid #FFE900;
    padding-left: 28px;
}

section.pilihan-section div.see_all span.lihat_semua {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    width: auto;
}

section.pilihan-section div.artikel-container {
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

section.pilihan-section div.artikel-container div.item-artikel {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.pilihan-section div.artikel-container div.item-artikel div.img-container {
    position: relative;
}

section.pilihan-section div.artikel-container div.item-artikel div.img-container div.overlay {
    position: absolute;
    border-radius: 0.375rem;
    bottom: 3px;
    width: 100%;
    height: 10%;
    left: 0;
    right: 0;
    text-align: start;
    color: white;
    background-color: rgba(12, 11, 13, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 0px;
}

section.pilihan-section div.artikel-container div.item-artikel div.img-container div.overlay span.jumlah_video {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

section.pilihan-section div.artikel-container div.item-artikel div.img-container img {
    border-radius: 0.375rem;
}

section.pilihan-section div.artikel-container div.item-artikel p.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #0C0B0D;
}

section.pilihan-section div.artikel-container div.item-artikel p.lihat_selengkapnya {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4A25AA;
    cursor: pointer;
}

section.card-section {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    padding: 0 96px;
}

section.card-section div.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.card-section div.container div.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.card-section div.container div.card div.overlay {
    position: relative;
    margin-top: 16px;
}

section.card-section div.container div.card div.overlay span.text-overlay {
    background-color: rgba(12, 11, 13, 0.5);
    position: absolute;
    bottom: -12px;
    right: 0;
    left: 80%;
    padding: 1px 4px;
    border-top-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

section.card-section div.container div.card img.thumbnail {
    border-radius: 0.375rem;
}

section.card-section div.container div.card p.kategori {
    font-size: 12px;
    color: #4A25AA;
    line-height: 18px;
    margin-top: 16px;
}

section.card-section div.container div.card p.title {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-top: 8px;
    max-width: 100%;
}

section.academy-section {
    background-color: #F1F1F1;
    margin-top: 64px;
    padding: 32px 96px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 80px;
}

section.academy-section p.sub-title {
    font-weight: 700;
    font-size: 20px;
    border-left: 9px solid #FFE900;
    padding-left: 28px;
    color: #4A25AA;
    margin-bottom: 24px;
}

section.academy-section div.card-container {
    display: flex;
    gap: 16px;
    overflow: auto;
}

section.academy-section div.card-container div.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.375rem;
    overflow: hidden;
}

section.academy-section div.card-container div.card div.card-body{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

section.academy-section div.card-container div.card div.card-body p.kategori {
    font-size: 12px;
    color: #4A25AA;
}

section.academy-section div.card-container div.card div.card-body p.title {
    font-size: 16px;
    color: #0C0B0D;
    margin-top: 20px;
}

section.academy-section div.card-container div.card div.card-body div.kelas_online {
    display: flex;
    align-items: center;
    gap: 4px;
}

section.academy-section div.card-container div.card div.card-body div.kelas_online p.text-kelas {
    font-size: 12px;
    color: #757575;
}

section.academy-section div.card-container div.card div.card-body div.bayar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.academy-section div.card-container div.card div.card-body div.bayar div.harga {
    display: flex;
    flex-direction: column;
}

section.academy-section div.card-container div.card div.card-body div.bayar div.harga p.harga_diskon {
    font-weight: 700;
    font-size: 16px;
    color: #4A25AA;
}

section.academy-section div.card-container div.card div.card-body div.bayar div.harga p.harga_asli {
    font-weight: 700;
    font-size: 12px;
    color: #616161;
    text-decoration: line-through;
}

section.academy-section div.card-container div.card div.card-body div.bayar div.bayar-btn {
    padding: 8px 16px;
    border-radius: 0.375rem;
    background-color: #4A25AA;
    color: white;
    font-size: 12px;
}

footer.footer-section {
    border-top: 1px solid #D3D3D3;
    padding: 0 96px;
    padding-top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F1F1;
}

footer.footer-section div.menu {
    text-align: center;
    font-size: 14px;
    color: #757575;
    font-family: 'Roboto', sans-serif;
}

footer.footer-section div.sosmed {
    display: flex;
    align-items: center;
    gap: 24px;
}

section.sponsor {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 52px;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
}

section.sponsor p.our_partner {
    margin: 0 auto;
    width: 100%;
    font-size: 10px;
    color: #9E9E9E;
    text-align: center;
}

section.sponsor div.logo {
    display: flex;
    align-items: start;
    justify-content: center;
}

section.copyright {
    background-color: #34128C;
    font-family: 'Roboto', sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: white;
}

section.login-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFFFF;
}

section.login-section div.pic-login {
    width: 50%;
    /* background-color: salmon; */
    display: grid;
    place-items: center;
    padding: 24px;
    background-color: #4A25AA;
    /* height: 500px; */
}

section.login-section div.login-form {
    width: 50%;
    display: grid;
    place-items: center;
}

section.login-section div.login-form p.top-text {
    font-size: 24px;
    color: #4A25AA;
    font-weight: 500;
    margin-bottom: 8px;
}

section.login-section div.login-form p.signup {
    font-weight: 400;
    font-weight: 12px;
}

section.login-section div.login-form p.signup span {
    font-weight: 700;
    color: #4A25AA;
}

section.login-section div.login-form div.email {
    width: 100%;
    background-color: #4A25AA;
    color: white;
    text-align: center;
    padding: 16px 0px;
    border-radius: 0.25rem;
    margin-top: 16px;
}

section.login-section div.login-form div.atau {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

section.login-section div.login-form div.atau div.left-line {
    background-color: #616161;
    height: 1px;
    border-radius: 0.25rem;
    flex: 1;
    align-self: center;
}

section.login-section div.login-form div.atau div.right-line {
    background-color: #616161;
    height: 1px;
    border-radius: 0.25rem;
    flex: 1;
    align-self: center;
}

section.login-section div.login-form div.fb {
    width: 100%;
    background-color: #4766AF;
    color: white;
    text-align: center;
    padding: 16px 0px;
    border-radius: 0.25rem;
    margin-top: 16px;
    position: relative;
}

section.login-section div.login-form div.fb img {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

section.login-section div.login-form div.google {
    width: 100%;
    background-color: #4E83EF;
    color: white;
    text-align: center;
    padding: 16px 0px;
    border-radius: 0.25rem;
    margin-top: 16px;
    position: relative;
}

section.login-section div.login-form div.google img {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

section.ruang-section {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 48px 96px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100%; */
}

section.ruang-section div.see_all {
    color: #4A25AA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

section.ruang-section div.see_all span.title {
    font-weight: 700;
    font-size: 20px;
    border-left: 9px solid #FFE900;
    padding-left: 28px;
}

section.ruang-section div.see_all span.lihat_semua {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

section.ruang-section div.ruang-container {
    display: grid;
    gap: 16px;
    row-gap: 40px;
    column-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100%;
}

section.ruang-section div.ruang-items {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 1.5rem;
    /* filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); */
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

section.ruang-section div.ruang-items div.deskripsi {
    display: flex;
    gap: 16px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 24px 32px;
}

section.ruang-section div.ruang-items div.deskripsi img {
    position: absolute;
    right: 50%;
    top: -16%;
    transform: translateY(50px);
    transform: translateX(50%);
}

section.ruang-section div.ruang-items div.deskripsi p.ruang-title {
    margin-top: 24px;
    font-size: 16px;
    font-weight: normal;
    color: #4A25AA;
}

section.ruang-section div.ruang-items div.deskripsi p.desc {
    text-align: center;
    font-weight: normal;
    color: #051C2C;
}

section.ruang-section div.ruang-items div.deskripsi div.join-btn {
    background-color: #4A25AA;
    border-radius: 9999px;
    padding: 12px 24px;
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: normal;
}

section.pilihan-section {
    font-family: 'Roboto', sans-serif;
    padding: 0px 96px;
    margin-top: 24px;
    background-color: #F1F1F1;
}

section.pilihan-section div.pilihan-container {
    display: flex;
    gap: 12px;
    background-color: #F1F1F1;
}

section.pilihan-section div.pilihan-container div.pilihan-items {
    padding: 12px 24px;
    text-align: center;
    border-radius: 9999px;
    border: 1px solid #E0E0E0;
    color: #616161;
    cursor: pointer;
}

section.pilihan-section div.pilihan-container div.pilihan-items.pilihan-active {
    background-color: #6242B4;
    color: #E0E0E0;
}

section.musyawarah-section {
    font-family: 'Roboto', sans-serif;
    padding: 0px 96px;
    margin-top: 24px;
    background-color: #F1F1F1;
}

section.musyawarah-section div.selengkapnya {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

section.musyawarah-section div.selengkapnya div.title {
    display: flex;
    align-items: center;
    gap: 16px;
}

section.musyawarah-section div.selengkapnya div.title img {
    border-radius: 120px;
    height: 44px;
}

section.musyawarah-section div.selengkapnya div.title span {
    font-weight: 500;
    font-size: 20px;
}

section.musyawarah-section div.selengkapnya span.selengkapnya-text {
    color: #4A25AA;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

section.musyawarah-section div.konten-container {
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    overflow: hidden;
    gap: 24px;
    margin-bottom: 48px;
}

section.musyawarah-section div.konten-container div.konten-items {
    min-width: 312px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 312px;
}

section.musyawarah-section div.konten-container div.konten-items img {
    border-radius: 0.75rem;
}

section.musyawarah-section div.konten-container div.konten-items div.deskripsi-konten {
    /* padding: 0 24px; */
    margin-top: 16px;
    padding-bottom: 12px;
}

section.musyawarah-section div.konten-container div.konten-items div.deskripsi-konten p.kategori {
    font-size: 12px;
    font-weight: normal;
    color: #4A25AA;
}

section.musyawarah-section div.konten-container div.konten-items div.deskripsi-konten p.title-konten {
    font-size: 16px;
    font-weight: 500;
    color: #0C0B0D;
    margin-top: 12px;
}

section.musyawarah-section div.konten-container div.konten-items div.thumbnail {
    position: relative;
}

section.musyawarah-section div.konten-container div.konten-items div.thumbnail span.text-overlay {
    background-color: rgba(12, 11, 13, 0.5);
    position: absolute;
    bottom: -12px;
    right: 0;
    left: 80%;
    padding: 4px 0px;
    border-top-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 16px;
    text-align: center;
}

div.btn-container {
    display: flex;
    justify-content: center;
}

button.see_more {
    margin: 0px auto;
    padding: 12px 24px;
    color: #4A25AA;
    border: 2px solid #4A25AA;
    border-radius: 0.25rem;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 128px;
    cursor: pointer;
}

section.program_detail-section {
    /* background-color: #FFFFFF; */
    font-family: 'Roboto', sans-serif;
    padding: 48px 96px;
}

section.program_detail-section div.deskripsi-container {
    display: flex;
    gap: 24px;
    align-items: center;
}

section.program_detail-section div.deskripsi-container img {
    border-radius: 120px;
    height: 60px;
}

section.program_detail-section div.deskripsi-container div.title_desc {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

section.program_detail-section div.deskripsi-container div.title_desc p.title {
    font-weight: 600;
    font-size: 20px;
    color: #212529;
}

section.program_detail-section div.deskripsi-container div.title_desc p.desc {
    font-weight: normal;
    font-size: 16px;
    color: #616161;
}

nav.program_detail-nav {
    font-family: 'Roboto', sans-serif;
    padding: 0px 96px;
    padding-bottom: 16px;
    /* width: 100%;
    color: #9E9E9E;
    display: flex;
    gap: 36px;
    padding-top: 12px 0px; */
}

nav.program_detail-nav div.nav-container  {
    width: 100%;
    color: #9E9E9E;
    display: flex;
    gap: 36px;
    font-size: 16px;
    font-weight: 700;
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    border-bottom: 2px solid #E0E0E0;
}

nav.program_detail-nav div.nav-container span {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
}

nav.program_detail-nav div.nav-container span.active-nav::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #4A25AA;
}

section.page-nav {
    font-family: 'Roboto', sans-serif;
    padding: 64px 96px;
    padding-top: 0px;
    display: flex;
    gap: 8px;
    justify-content: end;
    align-items: center;
}

section.page-nav div {
    width: 25px;
    height: 25px;
    background-color: #E0E0E0;
    color: #757575;
    font-size: 12px;
    border-radius: 50px;
    display: grid;
    place-items: center;
}

section.page-nav span {
    color: #212529;
    font-size: 12px;
}

section.page-nav div.active {
    background-color: #4A25AA;
    color: #FAFAFA;
}



